body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Sofia Pro";
  font-weight: "Black";
  src: url(./fonts/Sofia-Pro-Black.otf) format("opentype");
}

@font-face {
  font-family: "Sofia Pro";
  font-weight: "Semibold";
  src: url(./fonts/Sofia-Pro-Semibold.otf) format("opentype");
}

@font-face {
  font-family: "Sofia Pro";
  font-weight: "Regular";
  src: url(./fonts/Sofia-Pro-Regular.otf) format("opentype");
}

.header-style {
  font-family: "Sofia Pro";
  font-weight: "Black";
  color: #464162;
}
